<%= link_to sanitize("&larr; Back to workouts"), workouts_path, class: "text-red-700 text-lg hover:text-red-600" %>
<div class="flex flex-wrap items-center justify-between mb-10 gap-2 max-[320px]:justify-evenly">
</div>
<div class="flex justify-between border shadow-md mb-4 py-3 px-5 items-center rounded-lg">
  <h1 class="text-4xl font-bold">
    <%= @workout.name %>
  </h1>
  <div class="flex gap-2">
    <%= button_to workout_path(@workout), method: :delete, id: 'Delete', class: "bg-gray-200 py-2 px-3 rounded-md hover:bg-gray-300" do %>
      <i class="fa-regular fa-trash-can fa-xl"></i>
    <% end %>
    <%= link_to edit_workout_path(@workout), id: 'Edit', class: "bg-gray-200 py-2 px-3 rounded-md hover:bg-gray-300" do %>
      <i class="fa-regular fa-pen-to-square fa-xl"></i>
    <% end %>
  </div>
</div>
