<%= link_to sanitize("&larr; Back to #{@day.title}"), workout_day_path(@workout, @day) %>
<h1>New Exercise</h1>

<%= turbo_frame_tag @exercise do %>
  <%= render 'form', workout: @workout, day: @day, exercise: @exercise %>
<% end %>
